.custom-card-height {
    height: 500px;
}

.card-header {
    text-decoration: none;
}

.card-description {
    white-space: pre-wrap;
    min-height: 8rem;
}

.card-description-nostock {
    white-space: pre-wrap;
    min-height: 5rem;
}