@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

.body-color {
    background-color: #ededed;
}

.header {
    padding: .5rem;
}

.nav-menu {
    display: flex;
    list-style-type: none;
}

.nav-text-custom {
    text-decoration: none;
    color: white;
}

.nav-text-custom:hover {
    font-weight: bold ;
    color: white;
}

.items-list-container, .item-detail {
    min-height: 50vh;
    display: grid;
    place-items: center;
    margin-top: 1rem;
}

.text-footer {
    color: black;
}

.custom-width-80 {
    width: 80px;
}

.custom-width-100 {
    width: 100px;
}

.custom-width-120 {
    width: 120px;
}

.custom-width-350 {
    width: 350px;
}

.custom-height {
    min-height: 300px;
}

.btn-purchase {
    background-color: grey;
}

.btn-purchase:hover {
    background-color: grey;
}